{% load i18n static %}


    <div class="footer card text-center">
        <div class="card-body">
            <h5 class="card-title">Thanks For Visit Our Website!</h5>
            <p class="card-text">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin Fowler</p>
            <a href="/" class="btn btn-primary">Go To Home</a>
        </div>
        <div class="container d-flex justify-content-center">
            <ul class="social-list">
                <li>
                    <a href="https://linktr.ee/lalitjarwal" target="_blank">
                        <div class="maincard p-3">
                            <div class="thecard">
                                <div class="thefront text-center py-2 facebook">
                                    <div class="social-icon"> <i class="fa fa-link fa-2x"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/rustycodes/" target="_blank">
                        <div class="maincard p-3">
                            <div class="thecard">
                                <div class="thefront text-center py-2 instagram">
                                    <div class="social-icon"> <i class="fa fa-instagram fa-2x"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCptWPtRNjNEBFQ2DQ9xsLTw/videos" target="_blank">
                        <div class="maincard p-3">
                            <div class="thecard">
                                <div class="thefront text-center py-2 youtube">
                                    <div class="social-icon"> <i class="fa fa-youtube fa-2x"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mahesh811/" target="_blank">
                        <div class="maincard p-3">
                            <div class="thecard">
                                <div class="thefront text-center py-2 facebook">
                                    <div class="social-icon"> <i class="fa fa-linkedin fa-2x"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="https://twitter.com/_beingmahesh/" target="_blank">
                        <div class="maincard p-3">
                            <div class="thecard">
                                <div class="thefront text-center py-2 pinterest">
                                    <div class="social-icon"> <i class="fa fa-twitter fa-2x"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-footer text-muted">Copyright © 2021 Rusty Codes</div>
    </div>